@using OpenOrderSystem.Areas.Staff.ViewModels.Media
@model EditVM

<div id="edit_modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <form asp-action="Edit" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit description for @Model.Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                </div>
                <input asp-for="Name" hidden readonly />
                <input asp-for="MediaType" hidden readonly />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>