@{
    Layout = "_HtmlBaseLayout";
}

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
@section AppendHead {
    @await RenderSectionAsync("AppendHead", required: false)
}
@section PrependBody {
    @await RenderSectionAsync("PrependBody", required: false)
}
@section AppendBody {
    @await RenderSectionAsync("AppendBody", required: false)
}

<div class="container shadow-lg h-100">
    @RenderBody()
</div>
