hr {
    border-color:black;
    border-style:double;
    border-width: 3px;
}

.printer-tray {
    position: fixed;
    z-index: 10;
    top: 15px;
    left: 20px;
    background-color: #5C534D;
    padding:6px 3px;
    border-radius:8px;
}

@keyframes notification-window-animation {
    0% { left: calc(100dvw - 2px) }
    98% { left: calc(100dvw - 395px) }
    100% { left: calc(100dvw - 400px) }
}

#notification_window {
    position: fixed;
    z-index: 12;
    top: 5px;
    height: calc(100dvh - 10px);
    width: 400px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 25px 0 0 25px;
    border-style: groove;
    border-width: 7px 0 7px 7px;
    border-color: black;
    overflow-y: auto;
}

#notification_window.open {
    left: calc(100dvw - 400px);
}

#notification_window.closing {
    animation: notification-window-animation ease 1s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

#notification_window.opening {
    animation: notification-window-animation ease 1s;
    animation-iteration-count: infinite;
}

#notification_window.closed {
    left: calc(100dvw + 2px)
}

.notification {
    border: solid black 1px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #ebebeb;
}

.notification-title {
    padding: 1px 0 1px 7px;
    display: block;
    border-radius: 4px 0;
    background-color: #c0c0c0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.notification-message {
    padding: 0 7px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*@media (min-width: 768px) {
    .printer-tray {
        left: calc((100dvw - 720px) / 2 + 20px);
    }
}*/
@media (min-width: 992px) {
    .printer-tray {
        left: calc((100dvw - 960px) / 2 + 20px);
    }
}
@media (min-width: 1200px) {
    .printer-tray {
        left: calc((100dvw - 1140px) / 2 + 20px);
    }
}
@media (min-width: 1400px) {
    .printer-tray {
        left: calc((100dvw - 1320px) / 2 + 20px);
    }
}

.printer-status-icon.default {
    color: #76695D;
}

.printer-status-icon.pending {
    color: #F5F5F5;
}

.printer-status-icon.good {
    color: #41F500;
}

.printer-status-icon.warning {
    color: #FFF199;
}

.printer-status-icon.error {
    color: #E00000;
}